## Fake News Data

[Source](https://github.com/FakeNewsChallenge/fnc-1) <br>
<br>
The data provided is ``(headline, body, stance)`` instances, where stance is one of ``{unrelated, discuss, agree, disagree}``

In [3]:
import os
import logging
import numpy as np
import glob
import pandas as pd
from bs4 import BeautifulSoup
from nltk.tokenize import word_tokenize
from utils.dataset_helper import load_peer_read

os.environ['TZ'] = 'America/Chicago'
logger = logging.getLogger()
logger.setLevel(logging.INFO)

In [9]:
FNC_PATH = '/home/anneke/Documents/anneke-precision-github/ann-mitchell-text-classification/dataset/fnc-1'
tr_body_filename = 'train_bodies.csv'
tr_stance_filename = 'train_stances.csv'

In [10]:
tr_body_pd = pd.read_csv(os.path.join(FNC_PATH, tr_body_filename))
tr_stance_pd = pd.read_csv(os.path.join(FNC_PATH, tr_stance_filename))

In [11]:
tr_body_pd.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [12]:
tr_stance_pd.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree